body {
  font-family: 'Nunito Sans', sans-serif;
}

html {
  font-family: 'Nunito Sans', sans-serif;
}

.container-xxl {
  background:rgb(255, 255, 255) ;
}

.card {
  margin-left: -19px;
  background-color: rgb(255, 255, 255);
  width: 18rem;
  font-family: 'Nunito Sans', sans-serif;
}

table {
  margin-top: 30px;
  height: 100%;
  padding: 16px 12px;
  font-size: 17px;
  color: #000000;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  overflow-x: auto;
}


th {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  background-color: #1f4f4f;
  color: #e3b85f;
}

tr:hover {
  background-color: #1f4f4f;
  color: #e3b85f;
}

button  {
  background: none;
  border: none;
  color: #e3b85f;
}

label {
  font-family: 'Nunito Sans', sans-serif;
}

input {
    margin: .4rem;
    background-color: #169e48;
}

h6 {
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

.collapsible {
  position: relative;
  margin-top: 5px;
  margin-left: 0px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  background-color: #1f4f4f;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 18rem;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.25rem;
}

.active, .collapsible:hover {
  background-color: #1f4f4f;
}


.content {
  padding: 0 19px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
}


[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
[data-pagination] {
  font-size: 7pt;
  line-height: 1;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;  -webkit-text-size-adjust: 100%;
  margin: -20px auto auto 200px;
  text-align: center;
  text-align: left;
  transition: font-size .2s ease-in-out;
}
[data-pagination] ul {
  list-style-type: none;
  display: inline;
  font-size: 90%;
  padding: .10em;
}
[data-pagination] ul li {
  display: inline-block;
  font-size: 100%;
  width: 35px;
  border-radius: 3px;
}
[data-pagination] > a {
  font-size: 140%;
}
[data-pagination] a {
  color: rgb(255, 255, 255);
  font-size: 100%;
  padding: .5em;
}
[data-pagination] a:focus,
[data-pagination] a:hover {
  color:#e3b85f;
}
[data-pagination] li:focus,
[data-pagination] li:hover
{
  color:#e3b85f;
}
[data-pagination] li:active {
  color: white;
}
[data-pagination] li.current {
  background: rgb(255, 255, 255);
  pointer-events:none;
}
p {
  pointer-events: all; 
}
@media (min-width: 350px) {
  [data-pagination] {
    font-size: 12pt;
  }
}
@media (min-width: 500px) {
  [data-pagination] {
    font-size: 12pt;
  }
  
}
@media (min-width: 700px) {
  [data-pagination] {
    font-size: 14pt;
  }
  
}
@media (min-width: 900px) {
  [data-pagination] {
    font-size: 16pt;
  }
  
}

button {
  margin-top: -10px;
  background-color: #1f4f4f;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  color: #e3b85f;
}

.reset {
  margin-top: -26px;
  background-color: #1f4f4f;
  height: 50px;
  color: #e3b85f;
  font-weight: 900;
}

.reset:hover {
  background-color:#e3b85f ;
  color: #1f4f4f;
  font-weight: 900;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.svg1 {
  margin-left:50px;
  margin-top: -25px;
}
p {
  margin-left: 15px;
}
.svg2 {
  margin-top: -25px;
  margin-left: 50px;
}

.outof {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  margin-left: -185px;
}

.count {
  font-family: 'Nunito Sans', sans-serif;
}
.selectPostsPerPage {
 color: cornflowerblue;
}
.undertable {
  position: inherit;
  margin-left: 0px;
}

.language-select {

  margin-top: 0px;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.overflowtable {
  margin-right: 40px;
}

hr {
  border: none;
  height: 0.5px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

/* custom checkbox */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* create custom checkbox */
.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  margin-top: 2.5px;
  margin-left: 11px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkR {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  margin-top: 2.5px;
  margin-left: 11px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.checkbox input:checked ~ .checkR {
  background-color: #1f4f4f;
  border:none;
}
.checkR:after {
  content: "";
  position: absolute;
  margin-left: -4px;
  margin-top: -3px;
  display: none;
}
.checkbox .checkR:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #e3b85f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* on mouse-over, add border color */
.checkbox:hover input ~ .check {
  border: 2px solid #2489C5;
}

/* add background color when the checkbox is checked */
.checkbox input:checked ~ .check {
  background-color: #1f4f4f;
  border:none;
}

/* create the checkmark and hide when not checked */
.check:after {
  content: "";
  position: absolute;
  margin-left: -4px;
  margin-top: -3px;
  display: none;
}

/* show the checkmark when checked */
.checkbox input:checked ~ .check:after {
  display: block;
 
}

/* checkmark style */
.checkbox .check:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #e3b85f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkd {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  margin-top: 2.5px;
  margin-left: 11px;
  background-color: rgb(141, 141, 141);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.d-flex {
  margin-left: 31%;
}
.info {
  margin-left: 550px;
  margin-top: -420px;
}

.img-magnifier-container {
  margin-top: 50px;
  width: 600px;
  height: 400px;
  pointer-events: none;
}
.image {
  margin-top: 0px;
  height: 410px;
}
.download-plan {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: -200px;
  
}
.back-button {
  margin-left:105%;
  margin-top:-30px;
  background-color:white;
  outline:none;
  margin-bottom: 30px;
}

.row-tr {
  text-align: left;
}

.row-usable {
  font-size: 15px;
  opacity: 0.8;
  margin-left: -36px;
  
}
.row-appcode {
  text-align: left;
  margin-left: 10px;
  font-size: 26px;
}
.row-hr {
  width: 100%;
}
.tablep {
  margin-top:-1px;
}
@media only screen and (min-width: 300px) and (max-width: 361px) {
  [data-pagination] {
    font-size: 15pt;
  }
  
  .table {
    width: 290%;
    max-width: 400%;
   }
  .info {
    margin-left: -80px;
    margin-top: 0px;
    width: 120px;
  }
  .row-usable {
    margin-left: 0px;
  }
  .download-plan {
    margin-left: 0px;
  }
  .back-button {
    margin-left: 290px;
    margin-top: -40px;
  }
  .img-magnifier-container {
    margin-left: 0px;
  }
  
  
  .tablep {
    margin-top: 0px;
    width: 330px;
    margin-left: 15px;
    overflow-x: auto;
  }
  .react-boostrap-table {
    margin-left: -200px;
  }
  .card {
    width: 330px;
  }
  
  .collapsible {
    height: 70px;
    width: 330px;
    margin-left: 0px;
  }
  .langbutton1 {
    margin-left: 0px;
  }
  .langbutton2 {
    margin-left: 4px;
    margin-top: 5px;
  }
  hr {
    width: 260px;
  }
  li {
    margin-left: 2px;
    margin-top: 25px;
  }
  
  .d-flex {
    margin-left: -200px;
  }
  .outof {
    margin-left: 25px;
    margin-top: 0px;
  }
  
  .svg1 {
   margin-left:20px;
  }
  .svg2 {
    margin-left: 10px;
  }
  .content {
    margin-left: 0px;
  }
  .slider {
    width: 250px;
    margin-left: 2px;
  }
  .reset {
    margin-left:0px;
  }
  
  .row-hr {
    width: 100%;
  }
  @media only screen and (min-width: 319px) and (max-width: 321px) {
    .row-usable {
      margin-left: 0;
    }
    .svg1 {
      margin-left: 35px;
    }
    .current {
      margin-left: -1px;
    }
    .table {
      width: 390%;
      max-width: 400%;
     }
    .download-plan {
      margin-left: 0;
    }
    .collapsible {
      width: 300px;
      margin-left: -5px;
    }
    .content {
      margin-left: -5px;
    }
    .tablep {
      width: 295px;
      margin-left: 10px;
    }
    .info {
      margin-left: -90px;
      margin-top: 0px;
      width: 80px;
    }
    .image {
      width: 100%;
      height: 100%;
    }
    .back-button {
      margin-left: 250px;
      margin-top: -40px;
    }
    .d-flex {
      margin-left: -220px;
    }
    .outof {
      margin-left: 60px;
    }
    
  }
  
}

@media only screen and (min-width: 361px) and (max-width: 430px) {
  [data-pagination] {
    font-size: 16pt;
  }
  
  .table {
   width: 290%;
   max-width: 400%;
  }
  .info {
    margin-left: -80px;
    margin-top: 80px;
    width: 125px;
  }
  
  .row-usable {
    margin-left: 0;
  }
  .download-plan {
    margin-left: 0;
  }
  
  .back-button {
    margin-left: 290px;
    margin-top: -40px;
  }
  .img-magnifier-container {
    margin-top: 0px;
  }
  
  
  .tablep {
    margin-top: 0px;
    width: 345px;
    margin-left: 18px;
    overflow-x: auto;
  }
  .react-boostrap-table {
    margin-left: -200px;
  }
  .card {
    width: 365px;
  }
  
  .collapsible {
    height: 70px;
    width: 355px;
    margin-left: 0px;
  }
  .langbutton1 {
    margin-left: 0px;
  }
  .langbutton2 {
    margin-left: 4px;
    margin-top: 5px;
  }
  hr {
    width: 260px;
  }
  li {
    margin-left: 2px;
    margin-top: 25px;
  }
  
  .d-flex {
    margin-left: -200px;
  }
  .outof {
    margin-left: 25px;
  }
  
  .svg1 {
   margin-left: 35px;
  }
  .svg2 {
    margin-left: 10px;
  }
  .content {
    margin-left: 0px;
    width: 350px;
  }
  .slider {
    width: 250px;
    margin-left: 2px;
  }
  .reset {
    margin-left:0px;
  }
 
  @media only screen and (min-width: 411px) and (max-width: 413px) {
    .download-plan {
      margin-left: 90px;
    }
    
    .row-usable {
      margin-left: 0;
    }
    .download-plan {
      margin-left: 0px;
    }
    .collapsible {
      margin-left: 15px;
    }
    .content {
      margin-left: 14px;
    }
    .langbutton1 {
      margin-left: 15px;
    }
    .tablep {
      margin-left: 30px;
    }
  }
  @media only screen and (min-width: 414px) and (max-width: 415px) {
    .download-plan {
      margin-left: 0;
    }
    .image {
      width: 100%;
      height: 100%;
    }
    .langbutton1 {
      margin-left: 15px;
    }
    .collapsible {
      margin-left: 15px;
    }
    .content {
      margin-left: 15px;
    }
    .tablep {
      margin-left: 32px;
    }
    .d-flex {
      margin-left: -175px;
    }
    .row-usable {
      margin-left: 0;
    }
    .back-button {
      margin-left: 330px;
      margin-top: -40px;
    }
  }
  @media only screen and (min-width: 427px) and (max-width: 429px) {
    .download-plan {
      margin-left: 0;
    }
    .image {
      width: 100%;
    }
    .row-usable {
      margin-left: 0;
    }
    .langbutton1 {
      margin-left: 20px;
    }
    .collapsible {
      margin-left: 20px;
      width: 350px;
    }
    .content {
      margin-left: 20px;
    }
    .tablep {
      margin-left: 38px;
    }
    .d-flex {
      margin-left: -175px;
    }
    .back-button {
      margin-left: 330px;
      margin-top: -40px;
    }
    .info {
      margin-left: -60px;
      
    }
  }
  
}


@media only screen and (min-width: 758px) and (max-width: 834px) {
  [data-pagination] {
    font-size: 16pt;
  }
  .info {
    margin-left: 70px;
    margin-top: 150px;
    width: 150px;
  }
  .table {
    width: 290%;
    max-width: 400%;
   }
  img {
    margin-top: -50px;
    margin-left: -40px;
  }
  .row-usable {
    margin-left: 0;
  }
  .download-plan {
    margin-left: 0;
  }
  .img-magnifier-container {
  margin-left: auto;  
  }
  .back-button {
    margin-left: 600px;
    margin-top: 0px;
  }
  
  body {
    overflow-x: hidden;
  }
  .tablep {
    width: calc(100%/1.85);
    margin-left: 340px;
    overflow-x: auto;
  }
  .collapsible {
    height: 70px;
    width: 286px;
    margin-left: 5px;
  }
  .content {
    width: 285px;
  }
  .row {
    pointer-events: auto; 
  }
  .col {
    position: absolute;
    width: 20%;
  }
  .langbutton1 {
    margin-left: 5px;
   
  }
  hr {
    width: 260px;
  }
  li {
    margin-left: 2px;
    margin-top: 25px;
  }
  .d-flex {
    margin-left: 190px;
  }
  .outof {
    margin-left: -20px;
  }
  .svg1 {
    margin-left: 0px;
  }
  .svg2 {
    margin-left: 10px;
  }
  .content {
    margin-left: 5px;
  }
  .slider {
    width: 250px;
    margin-left: 2px;
  }
  .reset {
    margin-left:0px;
  }
  @media only screen and (min-width: 833px) and (max-width: 835px) {
    .svg1 {
      margin-left: -220px;
    }
    }
  @media only screen and (min-width: 799px) and (max-width: 801px) {
    .svg1 {
      margin-left: 0;
    }
    .image {
      margin-left: -30px;
    }
    image {
      height: auto;
    }
  }
}
@media only screen and (min-width: 883px) and (max-width: 885px) {
  
  .info {
    margin-top: 270px;
    margin-left: 0px;
  }
  .svg1 {
    margin-left: -200px;
  }
}
@media only screen and (min-width: 830px) and (max-width: 1270px) {
  [data-pagination] {
    font-size: 18pt;
  }
  
  .image {
    margin-top: -60px;
    
  }
  body {
    overflow-x: hidden;
  }
  .back-button {
    margin-left: 100%;
  }
  .tablep {
    width: calc(100%/1.60);
    margin-left: 330px;
    overflow-x: auto;
  }
  .collapsible {
    height: 70px;
    width: 286px;
    margin-left: 5px;
  }
  .content {
    width: 285px;
  }
  .row {
    pointer-events: auto; 
  }
  .col {
    position: absolute;
    width: 20%;
  }
  .langbutton1 {
    margin-left: 5px;

  }
  hr {
    width: 260px;
  }
  li {
    margin-left: 2px;
    margin-top: 25px;
  }
  .d-flex {
    margin-left: 440px;
  }
  .outof {
    margin-left: -280px;
  }
  .svg2 {
    margin-left: 10px;
  }
  .content {
    margin-left: 5px;
  }
  .slider {
    width: 250px;
    margin-left: 2px;
  }
  .reset {
    margin-left:0px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1990px) {
  [data-pagination] {
    font-size: 18pt;
  }
  img{
    width: 600px;
    
  }
  .image {
    
    height: auto;
  }
  body {
    overflow-x: hidden;
  }
  .back-button {
    margin-left: 100%;
  }
  .tablep {
    width: 100%;
    margin-left: 330px;
    overflow-x: auto;
  }
  .collapsible {
    height: 70px;
    width: 286px;
    margin-left: 5px;
  }
  .content {
    width: 285px;
  }
  .row {
    pointer-events: auto; 
  }
  .col {
    position: absolute;
    width: 20%;
  }
  .langbutton1 {
    margin-left: 5px;

  }
  hr {
    width: 260px;
  }
  li {
    margin-left: 2px;
    margin-top: 25px;
  }
  .d-flex {
    margin-left: 440px;
  }
  .outof {
    margin-left: -280px;
  }
  .svg2 {
    margin-left: 10px;
  }
  .content {
    margin-left: 5px;
  }
  .slider {
    width: 250px;
    margin-left: 2px;
  }
  .reset {
    margin-left:0px;
  }
}
.pagination {
  margin-left: 100px;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}




